@using FPTBook.Models.ViewModel
@model ResetPasswordVM



@*<form asp-area="Admin" asp-controller="Users" asp-action="CustomerResetPassword" method="post">
    <div class="form-group">
        <input disabled class="form-control" name="id" value="@Model.Id" placeholder="@Model.Id">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
*@


<div class="row">
    <div class="col-md-4">
        <form asp-action="CustomerResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  
           
            <div class="form-group">
                <input class="form-control" asp-for="Id" name="id" disabled>

                <input type="hidden" class="form-control" asp-for="Id" name="id" value="@Model.Id" placeholder="@Model.Id">
            </div>
        
            <div class="form-group">
                <input class="form-control" asp-for="Password" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">

                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
